<h1>Welcome!</h1>
<h3>Please Login Yourself</h3>


<div *ngIf="msg!=''">
    <p>{{msg}}</p>
</div>

<form #userForm="ngForm" (ngSubmit)="onLoginFormSubmit(userForm)">
    <input placeholder="username" name="username" type="text" ngModel required/>
    <br/><br/>
    <input placeholder="password" name="password"  type="text" ngModel required/>
    <br/><br/>
    <input placeholder="email" name="email" type="email" ngModel required/>    
    <br/><br/>
    <button *ngIf="userForm.valid" >Login</button>
</form>

<div>
    <p>Didnot have account?</p>
    <button routerLink="/signup" > Create Account</button>
</div>